@model Model.Model.ExportModel
<style>
    .mid {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .border {
        border: 2px solid black;
    }

    .tborder {
        border: 1px solid black;
        border-top: 1px solid black;
    }

    p .note {
        font-size: 8px;
    }
</style>
        <div class="container">
            <div class="table">
                <table class="table">
                    <thead>
                        <tr> </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-weight:normal;">Công ty TNHH Du lịch D&amp;H<br /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="mid" colspan="3">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</td>
                        </tr>
                        <tr>
                            <td class="mid"> Trụ sở:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="mid" colspan="3">Độc lập - Tự do - Hạnh phúc</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="mid" colspan="11" style="font-weight:bold;"><h2>PHIẾU ĐẶT TOUR</h2></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="right" colspan="2">Họ tên Khách hàng:</td>
                            <td class="border" style="width:300 px;" colspan="4">@Model.khachHang.HoTenKhachHang </td>
                            <td class="right">Giới tính:</td>
                            <td class="border right" >
                                @{ 
                                    bool isFemale = Model.khachHang.isFemale;
                                    if (isFemale == true)
                                    {
                                        <strong>Nữ</strong>
                                    }
                                    else
                                    {
                                        <strong>Nam</strong>
                                    }
                                }
                            </td>
                            <td class="right">SĐT:</td>
                            <td class="border right" >@Model.khachHang.SoDienThoaiKH</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Email:</td>
                            <td colspan="4" class="border">@Model.khachHang.Email</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Địa chỉ</td>
                            <td class="border" colspan="8">@Model.khachHang.DiaChi</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="right">Số Hộ chiếu / CMND</td>
                            <td class="border" colspan="4">@Model.khachHang.SoHoChieuCMND</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder" style="border-top: 1px solid black">Số thứ tự</td>
                            <td class="tborder" colspan="5" style="border-top: 1px solid black">Tên dịch vụ</td>
                            <td class="tborder" style="border-top: 1px solid black">Đơn giá</td>
                            <td class="tborder" style="border-top: 1px solid black">Số lượng</td>
                            <td class="tborder" style="border-top: 1px solid black">Thành tiền</td>
                            <td class="tborder" style="border-top: 1px solid black">Ghi chú</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>1</strong></td>
                            <td class="tborder" colspan="5">@Model.tour.MoTaTour (Nguời lớn)</td>
                            <td class="tborder">@Model.tongTien</td>
                            <td class="tborder">@Model.pdt.soGheNguoiLon</td>
                            @{ int tt = Int32.Parse(Model.tongTien.ToString()) * Model.pdt.soGheNguoiLon;}
                            <td class="tborder">@tt</td>
                            <td class="tborder">Đã giảm @Model.tour.GiamGia %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>2</strong></td>
                            <td class="tborder" colspan="5">@Model.tour.MoTaTour (Trẻ em)</td>
                            <td class="tborder">@Model.tongTienTreEm</td>
                            <td class="tborder">@Model.pdt.soGheTreEm</td>
                            @{ int ttte = Int32.Parse(Model.tongTienTreEm.ToString()) * Model.pdt.soGheTreEm;}
                            <td class="tborder">@ttte</td>
                            <td class="tborder">Đã giảm @Model.tour.GiamGia %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>3</strong></td>
                            <td class="tborder" colspan="5">Phụ thu Phòng đơn</td>
                            <td class="tborder">500000</td>
                            <td class="tborder">@Model.pdt.soPhongDon</td>
                            @{ int pd = Int32.Parse(Model.pdt.soPhongDon.ToString()) * 500000;}
                            <td class="tborder">@pd</td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>4</strong></td>
                            <td class="tborder" colspan="5">Phí VISA</td>
                            @{
                                int visa = 0;
                                int sl = Model.pdt.soGheNguoiLon + Model.pdt.soGheTreEm;
                                if (Model.tour.isInternal == true)
                                {
                                    <td class="tborder">0</td>
                                    visa = 0;
                                }
                                else
                                {
                                    <td class="tborder">@Model.VISACharge</td>
                                    visa = Int32.Parse(Model.VISACharge.ToString()) * sl;
                                }

                            }
                            <td class="tborder">@sl</td>
                            <td class="tborder">@visa</td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>5</strong></td>
                            <td class="tborder" colspan="5">Bảo hiểm</td>
                            <td class="tborder"><i>Miễn phí</i></td>
                            <td class="tborder">@sl</td>
                            <td class="tborder">0</td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"><strong>6</strong></td>
                            <td class="tborder" colspan="5">VAT</td>
                            @{ 
                                int tongTienTruocThue = 0;
                                if (Model.tour.isInternal == true) { tongTienTruocThue = tt + ttte + pd; }
                                else { tongTienTruocThue = tt + ttte + pd + visa; }
                                int VAT = tongTienTruocThue / 100 * 10;
                            }
                            <td class="tborder">@VAT</td>
                            <td class="tborder">1</td>
                            <td class="tborder">@VAT</td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="tborder"></td>
                            <td class="tborder" colspan="5"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td class="tborder"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="right">Tổng tiền:</td>
                            @{ int tongTienSauThue = tongTienTruocThue + @VAT ;}
                            <td style="border-top: 1px solid black" colspan="3" class="tborder">@tongTienSauThue</td>
                            <td>VNĐ</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            @{ int tienCoc = tongTienSauThue / 100 * 20 ; }
                            <td class="right">Tiền cọc:</td>
                            <td style="border-top: 1px solid black" colspan="3" class="tborder">@tienCoc</td>
                            <td>VNĐ</td>
                            <td></td>
                            <td class="right">Hạn thanh toán:</td>
                            <td style="border-top: 1px solid black" class="tborder">@Model.tour.NgayKhoiHanh.AddDays(-4).ToShortDateString()</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td colspan="12"><p style="font-size:10px;"><b><i>Quý khách vui lòng thanh toán tiền cọc trước ngày xuất phát 7 ngày; thanh toán toàn bộ số tiền trễ nhất trước ngày xuất phát 4 ngày. Nếu không nhận được liên lạc từ quý khách, công ty sẽ không hoàn tiền cọc và hủy tour.</i></b></p></td>
                        </tr>
                        <tr>
                            <td colspan="12"><p style="font-size:10px;"><b><i>Quý khách vui lòng xem thêm về chính sách thanh toán (<a href="#">tại đây </a>); chính sách hủy tour (<a href="#">tại đây </a>); thông tin xác nhận tour (qua email).</i></b></p></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr><td style="text-align:center" colspan="12">_______________________________________</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    
