@model Model.Model.TravelModel

<div class="">
    @using (Html.BeginForm("themHuongDanVien", "Insert", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.DisplayNameFor(model => model.huongDanVien.huongDanVienModel.HoTenHDV) <br />
        @Html.TextBoxFor(model => model.huongDanVien.huongDanVienModel.HoTenHDV, new { @class = "form-control", @required = "true" }) <br />
        @Html.DisplayNameFor(model => model.huongDanVien.huongDanVienModel.SoDienThoaiHDV)<br />
        @Html.TextBoxFor(model => model.huongDanVien.huongDanVienModel.SoDienThoaiHDV, new { @class = "form-control", @required = "true", @type = "number" })<br />

        <input type="submit" value="Thêm" class="form-control btn-success" />
    }

    <div class="container" style="width:100%">
        <table border="1" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th>Mã Hướng dẫn viên</th>
                    <th>Họ tên Hướng dẫn viên</th>
                    <th>Số điện thoại Hướng dẫn viên</th>
                    <th colspan="2">#</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.huongDanVien.danhSach)
                    {
                        <tr>
                            <td>@item.MaHuongDanVien</td>
                            <td><p id="@item.MaHuongDanVien+ten" contenteditable="false">@item.HoTenHDV</p></td>
                            <td><p id="@item.MaHuongDanVien+sdt" contenteditable="false">@item.SoDienThoaiHDV</p></td>
                            <td>
                                <p>
                                    @using (Html.BeginForm("EditHDV", "Edit", FormMethod.Post, new { @name = "myForm", @id = "myForm2" }))
                                    {
                                        <input type="hidden" name="maHDV" value=@item.MaHuongDanVien />
                                        <input type="hidden" id ="tenEdited"name="tenEdited" value="" />
                                        <input type="hidden" name="sdtEdited" value="" />
                                        <input type="button" id="@item.MaHuongDanVien+edit" class="btn-link hihi" value="Sửa" onclick="editFunc2('@item.MaHuongDanVien')" />
                                    }
                                    @using (Html.BeginForm("Delete", "Edit", FormMethod.Post))
                                    {
                                        <input type="hidden" value=@item.MaHuongDanVien name="ma" />
                                        <input type="submit" id="@item.MaHuongDanVien+del" class="btn-link hihi" value="Xóa" />
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var func = "hihi";
    var form2 = document.getElementById("myForm2");
    function editFunc2(id) {
        var ma = id;
        $(".hihi").prop('disabled', true);
        if (func != "false") {
            document.getElementById(ma + "+ten").contentEditable = true;
            document.getElementById(ma + "+sdt").contentEditable = true;
            document.getElementById(ma + "+edit").disabled = false;
            document.getElementById(ma + "+del").disabled = false;
            func = "false";
        }
        else {
            var e = document.getElementById(ma + "+ten").innerHTML;
            document.getElementsByName("sdtEdited")[0].value = document.getElementById(ma + "+sdt").innerHTML;
            document.getElementsByName("tenEdited")[0].value = e;
            document.getElementById('tenEdited').value = e;
            document.getElementsByName("maHDV")[0].value = ma;
            form2.submit();
        }
    }
</script>


