@model Model.Model.TravelModel


<div class="">
    @using (Html.BeginForm("themPhuongTien", "Insert", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.DisplayNameFor(model => model.phuongTien.phuongTienModel.MaPhuongTien)
        <br />
        @Html.TextBoxFor(model => model.phuongTien.phuongTienModel.MaPhuongTien, new { @class = "form-control", @required = "true" })
        <br />
        @Html.DisplayNameFor(model => model.phuongTien.phuongTienModel.ThoiGianDi)<br />
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <input type='text' class="form-control" id='datetimepicker4' name="thoigiandi" />
                </div>

            </div>
        </div>

        @Html.DisplayNameFor(model => model.phuongTien.phuongTienModel.ThoiGianDen)<br />
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <input type='text' class="form-control" id='datetimepicker5' name="thoigianden" />
                </div>

            </div>
        </div>
        @Html.DisplayNameFor(model => model.phuongTien.phuongTienModel.TenSanBay)<br />
        @Html.TextBoxFor(model => model.phuongTien.phuongTienModel.TenSanBay, new { @class = "form-control" })<br />

        <input type="submit" value="Thêm" class="form-control btn-success" />
    }
    <br />
    <div class="container" style="width:100%">
        <table border="1" style="width:100%" width="100%" class="table table-striped">
            <thead style="width:auto">
                <tr>
                    <th>Mã phương tiện</th>
                    <th>Thời gian đi</th>
                    <th>Thời gian đến</th>
                    <th>Sân bay/Bến xe</th>
                    <th colspan="2">#</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.phuongTien.danhSach)
                    {
                        <tr>
                            <td>@item.MaPhuongTien</td>
                            <td><p id="@item.MaPhuongTien+thoigiandi" contenteditable="false">@item.ThoiGianDi</p></td>
                            <td><p id="@item.MaPhuongTien+thoigianden" contenteditable="false">@item.ThoiGianDen</p></td>
                            <td><p id="@item.MaPhuongTien+tensanbay" contenteditable="false">@item.TenSanBay</p></td>
                            <td>
                                @using (Html.BeginForm("EditPTN", "Edit", FormMethod.Post, new { @name = "myForm3", @id="myForm3" }))
                                {
                                    <input type="hidden" name="thoiGianDiEdited" />
                                    <input type="hidden" name="thoiGianDenEdited" />
                                    <input type="hidden" name="tenSanBayEdited"  />
                                    <input type="hidden" value="@item.MaPhuongTien" name="ma" />
                                    <input type="button" id="@item.MaPhuongTien+edit" class="btn-link hihi" value="Sửa" onclick="editFunc3('@item.MaPhuongTien')" />
                                }
                                @using (Html.BeginForm("Delete", "Edit", FormMethod.Post))
                                {
                                    <input type="hidden" value=@item.MaPhuongTien name="ma" />
                                    <input type="submit" id="@item.MaPhuongTien+del" class="btn-link hihi" value="Xóa" />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var form3 = document.getElementById("myForm3");
    var func = "hihi";
    function editFunc3(id) {
        var ma = id;
        $(".hihi").prop('disabled', true);
        if (func != "false") {
            document.getElementById(ma + "+thoigiandi").contentEditable = true;
            document.getElementById(ma + "+thoigianden").contentEditable = true;
            document.getElementById(ma + "+tensanbay").contentEditable = true;
            document.getElementById(ma + "+edit").disabled = false;
            document.getElementById(ma + "+del").disabled = false;
            func = "false";
        }
        else {
            document.getElementsByName("thoiGianDiEdited")[0].value = document.getElementById(ma + "+thoigiandi").innerHTML;
            document.getElementsByName("thoiGianDenEdited")[0].value = document.getElementById(ma + "+thoigianden").innerHTML;
            document.getElementsByName("tenSanBayEdited")[0].value = document.getElementById(ma + "+tensanbay").innerHTML;
            form3.submit();
        }
    }
</script>







