
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SearchLayout</title>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <!--Add Css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/tour-list-travelwebsite.css">

    <!--Add Js-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>
<body>
    <!--Phan head cua trang-->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
        <!-- Brand -->
        @Html.ActionLink("Website du lịch", "Index", "Home", null, new { @class = "navbar-brand" })

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Search/Search?searchName=Internal">Tour trong nước</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Search/Search?searchName=External">Tour ngoài nước</a>
                </li>
                @{
                    if (Session["CURRENT_USER"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Đăng nhập", "Login", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Đăng ký", "Register", "Home", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Đăng xuất", "Logout", "Home", null, new { @class = "nav-link" })
                        </li>
                    }
                }
                }
            </ul>
        </div>
    </nav>

    @RenderBody()
    <!-- Footer -->
    <footer class="page-footer font-small bg-primary pt-4">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left text-white">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 class="text-uppercase">Website Du Lịch</h5>
                    <p>Đem lại trải nghiệm đặt tour tuyệt vời nhất</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Liên hệ</h5>
                    <p class="text-white">
                        Khu phố 6, phường Linh Trung, quận Thủ Đức, Tp. Hồ Chí Minh <br />
                        <strong>Điện thoại:</strong> (84 028) 80 55 303 <br />
                        <strong>Email: </strong> info@websitedulich.com <br />
                        <strong>Hotline: </strong> 1900 6969 (8h00-22h00 mỗi ngày)
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <ul class="text-white footer-list">
                        <li>
                            <a href="#!">Chính sách riêng tư</a>
                        </li>
                        <li>
                            <a href="#!">Chính sách thanh toán</a>
                        </li>
                        <li>
                            <a href="#!">Thỏa thuận sử dụng</a>
                        </li>
                        <li>
                            <a href="#!">Chính sách riêng tư</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="text-center py-3" style="background-color:#0A5083">
            © 2018 Product by:
            <a href="#">Đồ án môn học Công nghệ Web và Ứng dụng sẽ được 10 điểm</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>
